{% extends "base.html" %}
{% load static %}

{% block content %}

<section class="page-section error-section">
    <div class="container d-flex align-items-center flex-column">
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-3">Something went wrong.</h2>
        <p class="lead">The site has encountered an error while processing your requestt. An email has been sent to the developer regarding this issue. 
        Thank you for your patience.</p>
    </div>
</section>

{% endblock %}