{% load static %}

<section class="page-section portfolio" id="portfolio">
    <div class="container">

        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-5">Recent Projects</h2>
        <div class="row">
            {% for project in portfolio_section %}
                <div class="col-md-6 col-lg-4">
					<div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
						<div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
						<div class="portfolio-item-caption-content text-center text-white">
							<i class="fas fa-plus fa-3x"></i>
						</div>
						</div>
						<img class="img-fluid" src="/media/{{ project.project_image }}" alt="">
					</div>
					<h3 class="text-center text-uppercase text-secondary mb-5">{{ project.project_name }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

    {% for project in portfolio_section %}
		<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="portfolioModal1Label" aria-hidden="true">
			<div class="modal-dialog modal-xl" role="document">
				<div class="modal-content">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">
							<i class="fas fa-times"></i>
						</span>
					</button>
					<div class="modal-body text-center">
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-lg-8">
									{% comment %} <h2 class="portfolio-modal-title text-secondary text-uppercase mb-5">{{ project.project_name }}</h2> {% endcomment %}
									<img class="img-fluid rounded mb-5" src="/media/{{ project.project_image }}" alt="">
									<p class="mb-5">{{ project.project_description }}</p>
									{% if project.project_github_url %}
										<a class="btn btn-github" href="{{ project.project_github_url }}" target="_blank">
											<i class="fab fa-github fa-fw"></i>Check on Github
										</a>
									{% endif %}
									{% if project.project_bitbucket_url %}
										<a class="btn btn-bitbucket" href="{{ project.project_github_url }}" target="_blank">
											<i class="fab fa-bitbucket fa-fw"></i>Check on Bitbucket
										</a>
									{% endif %}
									{% if project.project_view_url %}
										<a class="btn btn-external-link" href="{{ project.project_github_url }}" target="_blank">
											<i class="fas fa-external-link-alt fa-fw"></i>View demo
										</a>
									{% endif %}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
    {% endfor %}